# This is a comment, to show how #-prefixed lines are ignored.
# It is possible to specify requirements as plain names.
pyyaml
presidio-analyzer
presidio-anonymizer
langdetect
spacy

langchain-experimental=0.3.4

# Download spaCy models defined in the config
###
python -m spacy download en_core_web_lg
python -m spacy download fr_core_news_lg
python -m spacy download zh_core_web_lg
###
