# This is a comment, to show how #-prefixed lines are ignored.
# It is possible to specify requirements as plain names.
pyyaml
presidio-analyzer
presidio-anonymizer
langdetect
spacy

langchain-experimental=0.3.4
